In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import joblib
import os

In [2]:
dairy_data = pd.read_csv('./data/dairy_data_features.csv')
dairy_data.head().T

,0,1,2,3,4
Year,2019,2019,2019,2019,2019
Quarter,Q1,Q1,Q1,Q1,Q1
Product Name,Butter,Butter,Butter,Butter,Butter
Brand,Amul,Amul,Amul,Amul,Amul
Sales Channel,Online,Retail,Retail,Retail,Wholesale
Storage Condition,Frozen,Frozen,Frozen,Refrigerated,Frozen
Customer Location,Rajasthan,Karnataka,Uttar Pradesh,Bihar,Jharkhand
Approx. Total Revenue(INR),10486.84,17627.66,2029.06,10801.28,23175.6
Quantity in Stock (liters/kg),32.0,378.5,8.0,39.0,110.0
Minimum Stock Threshold (liters/kg),17.37,80.74,27.1,12.52,82.68
Reorder Quantity (liters/kg),115.85,90.515,22.11,164.22,104.08
Shelf Life (days),39.0,36.5,29.0,25.0,36.0
Total Land Area (acres),385.57,523.725,672.52,612.82,347.34
Number of Cows,65.0,39.0,32.0,80.0,46.0
Quantity_per_Cow,4.123077,5.487179,0.6875,1.4,5.391304
Sales_Efficiency,0.891194,0.440266,0.716846,0.740888,0.692061
Production_Density,4.626462,12.463333,0.959063,1.889625,7.790217
Price_to_ShelfLife_Ratio,1.003333,1.551096,3.180345,3.8576,2.595833
Reorder_Intensity,0.432276,0.422967,1.005,1.46625,0.419677
Production_to_ShelfLife,7.710769,13.316986,1.058276,6.0468,9.954167
Land_Productivity,0.779936,0.928102,0.045634,0.246679,1.031698

In [3]:
dairy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4037 entries, 0 to 4036
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 4037 non-null   int64
 1   Quarter                              4037 non-null   object
 2   Product Name                         4037 non-null   object
 3   Brand                                4037 non-null   object
 4   Sales Channel                        4037 non-null   object
 5   Storage Condition                    4037 non-null   object
 6   Customer Location                    4037 non-null   object
 7   Approx. Total Revenue(INR)           4037 non-null   float64
 8   Quantity in Stock (liters/kg)        4037 non-null   float64
 9   Minimum Stock Threshold (liters/kg)  4037 non-null   float64
 10  Reorder Quantity (liters/kg)         4037 non-null   float64
 11  Shelf Life (days)                    4037 non-null   float64
 12  Total Land Area (acres)              4037 non-null   float64
 13  Number of Cows                       4037 non-null   float64
 14  Quantity_per_Cow                     4037 non-null   float64
 15  Sales_Efficiency                     4037 non-null   float64
 16  Production_Density                   4037 non-null   float64
 17  Price_to_ShelfLife_Ratio             4037 non-null   float64
 18  Reorder_Intensity                    4037 non-null   float64
 19  Production_to_ShelfLife              4037 non-null   float64
 20  Land_Productivity                    4037 non-null   float64
dtypes: float64(14), int64(1), object(6)
memory usage: 662.4+ KB

In [4]:
dairy_data.shape

(4037, 21)

### Identified categorical and numerical features

In [5]:
# Original dataset
df = dairy_data.copy()

# Convert Year to categorical
df['Year'] = df['Year'].astype('object')

# Identify categorical columns (object dtype)
cat_cols = df.select_dtypes(include='object').columns.tolist()

# Identify numeric columns (int64, float64)
num_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [6]:
cat_cols

['Year',
 'Quarter',
 'Product Name',
 'Brand',
 'Sales Channel',
 'Storage Condition',
 'Customer Location']

In [7]:
num_cols

['Approx. Total Revenue(INR)',
 'Quantity in Stock (liters/kg)',
 'Minimum Stock Threshold (liters/kg)',
 'Reorder Quantity (liters/kg)',
 'Shelf Life (days)',
 'Total Land Area (acres)',
 'Number of Cows',
 'Quantity_per_Cow',
 'Sales_Efficiency',
 'Production_Density',
 'Price_to_ShelfLife_Ratio',
 'Reorder_Intensity',
 'Production_to_ShelfLife',
 'Land_Productivity']

In [8]:
# Exclude the target from num_cols
target = 'Approx. Total Revenue(INR)'

num_cols = [col for col in df.select_dtypes(include=['int64', 'float64']).columns 
            if col != target]

num_cols

['Quantity in Stock (liters/kg)',
 'Minimum Stock Threshold (liters/kg)',
 'Reorder Quantity (liters/kg)',
 'Shelf Life (days)',
 'Total Land Area (acres)',
 'Number of Cows',
 'Quantity_per_Cow',
 'Sales_Efficiency',
 'Production_Density',
 'Price_to_ShelfLife_Ratio',
 'Reorder_Intensity',
 'Production_to_ShelfLife',
 'Land_Productivity']

### Encode categorical columns (one-hot encoding)

In [9]:
dairy_cat_encoding = pd.get_dummies(df[cat_cols], drop_first=True).astype(int)

In [10]:
dairy_cat_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4037 entries, 0 to 4036
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year_2020                           4037 non-null   int64
 1   Year_2021                           4037 non-null   int64
 2   Year_2022                           4037 non-null   int64
 3   Quarter_Q2                          4037 non-null   int64
 4   Quarter_Q3                          4037 non-null   int64
 5   Quarter_Q4                          4037 non-null   int64
 6   Product Name_Buttermilk             4037 non-null   int64
 7   Product Name_Cheese                 4037 non-null   int64
 8   Product Name_Curd                   4037 non-null   int64
 9   Product Name_Ghee                   4037 non-null   int64
 10  Product Name_Ice Cream              4037 non-null   int64
 11  Product Name_Lassi                  4037 non-null   int64
 12  Product Name_Milk                   4037 non-null   int64
 13  Product Name_Paneer                 4037 non-null   int64
 14  Product Name_Yogurt                 4037 non-null   int64
 15  Brand_Britannia Industries          4037 non-null   int64
 16  Brand_Dodla Dairy                   4037 non-null   int64
 17  Brand_Dynamix Dairies               4037 non-null   int64
 18  Brand_Mother Dairy                  4037 non-null   int64
 19  Brand_Palle2Patnam                  4037 non-null   int64
 20  Brand_Parag Milk Foods              4037 non-null   int64
 21  Brand_Passion Cheese                4037 non-null   int64
 22  Brand_Raj                           4037 non-null   int64
 23  Brand_Sudha                         4037 non-null   int64
 24  Brand_Warana                        4037 non-null   int64
 25  Sales Channel_Retail                4037 non-null   int64
 26  Sales Channel_Wholesale             4037 non-null   int64
 27  Storage Condition_Frozen            4037 non-null   int64
 28  Storage Condition_Polythene Packet  4037 non-null   int64
 29  Storage Condition_Refrigerated      4037 non-null   int64
 30  Storage Condition_Tetra Pack        4037 non-null   int64
 31  Customer Location_Chandigarh        4037 non-null   int64
 32  Customer Location_Delhi             4037 non-null   int64
 33  Customer Location_Gujarat           4037 non-null   int64
 34  Customer Location_Haryana           4037 non-null   int64
 35  Customer Location_Jharkhand         4037 non-null   int64
 36  Customer Location_Karnataka         4037 non-null   int64
 37  Customer Location_Kerala            4037 non-null   int64
 38  Customer Location_Madhya Pradesh    4037 non-null   int64
 39  Customer Location_Maharashtra       4037 non-null   int64
 40  Customer Location_Rajasthan         4037 non-null   int64
 41  Customer Location_Tamil Nadu        4037 non-null   int64
 42  Customer Location_Telangana         4037 non-null   int64
 43  Customer Location_Uttar Pradesh     4037 non-null   int64
 44  Customer Location_West Bengal       4037 non-null   int64
dtypes: int64(45)
memory usage: 1.4 MB

In [11]:
dairy_cat_encoding.head()

,Year_2020,Year_2021,Year_2022,Quarter_Q2,Quarter_Q3,Quarter_Q4,Product Name_Buttermilk,Product Name_Cheese,Product Name_Curd,Product Name_Ghee,...,Customer Location_Jharkhand,Customer Location_Karnataka,Customer Location_Kerala,Customer Location_Madhya Pradesh,Customer Location_Maharashtra,Customer Location_Rajasthan,Customer Location_Tamil Nadu,Customer Location_Telangana,Customer Location_Uttar Pradesh,Customer Location_West Bengal
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

### Standardized numeric variables

In [12]:
scaler = StandardScaler()
dairy_num_scaled = pd.DataFrame(
    scaler.fit_transform(dairy_data[num_cols]),
    columns=num_cols
)

In [13]:
dairy_num_scaled.head()

,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg),Shelf Life (days),Total Land Area (acres),Number of Cows,Quantity_per_Cow,Sales_Efficiency,Production_Density,Price_to_ShelfLife_Ratio,Reorder_Intensity,Production_to_ShelfLife,Land_Productivity
0,-0.998631,-1.493349,0.134173,0.330722,-0.420144,0.393262,-0.299466,1.073677,-0.642457,-0.417482,-0.214650,-0.417444,-0.280961
1,0.573581,0.958064,-0.368055,0.247228,0.071400,-0.622831,-0.135548,-0.287089,-0.018239,-0.367814,-0.215356,-0.363220,-0.255129
2,-1.107529,-1.116952,-1.724078,-0.003257,0.600800,-0.896394,-0.712304,0.547546,-0.934571,-0.220084,-0.171245,-0.481789,-0.408984
3,-0.966869,-1.680967,1.093033,-0.136848,0.388393,0.979470,-0.626686,0.620097,-0.860450,-0.158675,-0.136288,-0.433539,-0.373932
4,-0.644713,1.033111,-0.099149,0.230529,-0.556163,-0.349267,-0.147069,0.472752,-0.390459,-0.273084,-0.215605,-0.395746,-0.237067

### Combine scaled numeric + encoded categorical

In [14]:
dairy_final = pd.concat([dairy_num_scaled, dairy_cat_encoding, df[target]], axis=1)

dairy_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4037 entries, 0 to 4036
Data columns (total 59 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Quantity in Stock (liters/kg)        4037 non-null   float64
 1   Minimum Stock Threshold (liters/kg)  4037 non-null   float64
 2   Reorder Quantity (liters/kg)         4037 non-null   float64
 3   Shelf Life (days)                    4037 non-null   float64
 4   Total Land Area (acres)              4037 non-null   float64
 5   Number of Cows                       4037 non-null   float64
 6   Quantity_per_Cow                     4037 non-null   float64
 7   Sales_Efficiency                     4037 non-null   float64
 8   Production_Density                   4037 non-null   float64
 9   Price_to_ShelfLife_Ratio             4037 non-null   float64
 10  Reorder_Intensity                    4037 non-null   float64
 11  Production_to_ShelfLife              4037 non-null   float64
 12  Land_Productivity                    4037 non-null   float64
 13  Year_2020                            4037 non-null   int64
 14  Year_2021                            4037 non-null   int64
 15  Year_2022                            4037 non-null   int64
 16  Quarter_Q2                           4037 non-null   int64
 17  Quarter_Q3                           4037 non-null   int64
 18  Quarter_Q4                           4037 non-null   int64
 19  Product Name_Buttermilk              4037 non-null   int64
 20  Product Name_Cheese                  4037 non-null   int64
 21  Product Name_Curd                    4037 non-null   int64
 22  Product Name_Ghee                    4037 non-null   int64
 23  Product Name_Ice Cream               4037 non-null   int64
 24  Product Name_Lassi                   4037 non-null   int64
 25  Product Name_Milk                    4037 non-null   int64
 26  Product Name_Paneer                  4037 non-null   int64
 27  Product Name_Yogurt                  4037 non-null   int64
 28  Brand_Britannia Industries           4037 non-null   int64
 29  Brand_Dodla Dairy                    4037 non-null   int64
 30  Brand_Dynamix Dairies                4037 non-null   int64
 31  Brand_Mother Dairy                   4037 non-null   int64
 32  Brand_Palle2Patnam                   4037 non-null   int64
 33  Brand_Parag Milk Foods               4037 non-null   int64
 34  Brand_Passion Cheese                 4037 non-null   int64
 35  Brand_Raj                            4037 non-null   int64
 36  Brand_Sudha                          4037 non-null   int64
 37  Brand_Warana                         4037 non-null   int64
 38  Sales Channel_Retail                 4037 non-null   int64
 39  Sales Channel_Wholesale              4037 non-null   int64
 40  Storage Condition_Frozen             4037 non-null   int64
 41  Storage Condition_Polythene Packet   4037 non-null   int64
 42  Storage Condition_Refrigerated       4037 non-null   int64
 43  Storage Condition_Tetra Pack         4037 non-null   int64
 44  Customer Location_Chandigarh         4037 non-null   int64
 45  Customer Location_Delhi              4037 non-null   int64
 46  Customer Location_Gujarat            4037 non-null   int64
 47  Customer Location_Haryana            4037 non-null   int64
 48  Customer Location_Jharkhand          4037 non-null   int64
 49  Customer Location_Karnataka          4037 non-null   int64
 50  Customer Location_Kerala             4037 non-null   int64
 51  Customer Location_Madhya Pradesh     4037 non-null   int64
 52  Customer Location_Maharashtra        4037 non-null   int64
 53  Customer Location_Rajasthan          4037 non-null   int64
 54  Customer Location_Tamil Nadu         4037 non-null   int64
 55  Customer Location_Telangana          4037 non-null   int64
 56  Customer Location_Uttar Pradesh      4037 non-null   int64
 57  Customer Location_West Bengal        4037 non-null   int64
 58  Approx. Total Revenue(INR)           4037 non-null   float64
dtypes: float64(14), int64(45)
memory usage: 1.8 MB

### Split into Train + Test

In [15]:
X = dairy_final.drop(columns=[target])
y = dairy_final[target]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [16]:
X_train.shape, X_test.shape

((3229, 58), (808, 58))

In [17]:
y_train.shape, y_test.shape

((3229,), (808,))

### Save Split Datasets

I used .pkl files because they preserve the exact data types, scaling, and structure of the preprocessed train/test sets. CSV files convert everything to text and can break the standardized numeric values or dummy variables. .pkl ensures the modeling step loads the data safely and consistently.

In [18]:
# Create folder
os.makedirs("preprocessed_data", exist_ok=True)

# Save inside folder
joblib.dump(X_train, "preprocessed_data/X_train_preprocessed.pkl")
joblib.dump(X_test,  "preprocessed_data/X_test_preprocessed.pkl")
joblib.dump(y_train, "preprocessed_data/y_train_preprocessed.pkl")
joblib.dump(y_test,  "preprocessed_data/y_test_preprocessed.pkl")

print("Saved all preprocessed train/test files into /preprocessed_data/")

Saved all preprocessed train/test files into /preprocessed_data/

In [19]:
joblib.dump(dairy_final, "data/dairy_final.pkl")
print("Saved dairy_final.pkl to the data/ folder.")

Saved dairy_final.pkl to the data/ folder.

### Summary of Pre-processing and Training Data Development

1. Loaded and inspected the raw dataset:

Reviewed data types, missing values, and impossible values

Verified numerical columns and checked for negative or zero values

2. Identified categorical and numerical features:

Converted Year into a categorical variable

Listed all categorical columns (Product Name, Brand, Sales Channel, etc.)

Listed all numerical columns (Shelf Life, Quantity Sold, Total Land Area, etc.)

3. One-hot encoded categorical variables:

Applied pd.get_dummies() with drop_first=True

Expanded categorical fields into 45 binary dummy columns

4. Standardized numeric variables:

Used StandardScaler to normalize all numeric columns

Ensured numerical features have a consistent scale for models sensitive to magnitude

5. Combined everything into a final modeling dataset:

Merged scaled numeric features, encoded categorical features, and the target variable

6. Split the data into training and testing sets:

Used 80/20 split

Ensured reproducibility with random_state=42

7. Saved all preprocessed datasets:

Saved X_train, X_test, y_train, y_test and the full preprocessed DataFrame

Used .pkl format to preserve exact datatypes and scaling